// Coloring

$gutenberg-colors: (
  "primary": #7B3DBA,
  "studuj-jako-profik": #3797B3,
  "nech-si-poradit": #C73C81,
  "poznej-zcu": #0E53A7,
  "objevuj-plzen": #C28C00,
  "bud-aktivni": #93A112,
  "bez-barier": #EC6317,
  "faq": #7B3DBA,
  "blog": #E3052E,
  "kontakt":#0D9867,
  "white": #fff,
  "gray-light": #F0F0F0,
  "gray-dark": #505050,
  "footer": #181818,
  "black": #000
);
@each $scope, $color in $gutenberg-colors {
  .has-#{$scope}-color {
    color: $color;
  }
  .has-#{$scope}-background-color {
    background-color: $color;
    &.wp-block-button__link {
      transition: all .2s ease-in-out;
      &:focus,
      &:hover {
        background-color: theme-color("dark");
      }
      
    }
  }
  .has-#{$scope}-border-color {
    border-color: $color;
  }
  .is-style-outline {
    .has-#{$scope}-color {
      border-color: $color;
    }
  }
  .wp-block-button {
    &.is-style-outline {
      &:hover,
      &:focus {
        background-color: $body-bg !important;
        border-color: theme-color("dark") !important;
        border-bottom-color: theme-color("dark") !important;
        color: theme-color("dark") !important;
      }
    }
  }
}