$sides: ("top","left","bottom","right","horizontal","vertical");
$types: ("margin","padding");
$output: (base, half, section, section-wide, quarter, third);

@each $scope, $attrs in $gutters {

  // @debug $scope;
  // @debug $output;
  // @debug in_list($scope,$output);

  @each $side in $sides {

    @each $type in $types {

      @each $bp, $value in $attrs {
        
        // @if in_list($scope,$output) {
        @if null != index($output, $scope) {

          @media ( min-width: map-get($grid-breakpoints, $bp) ) {

            @if $side != horizontal or $side != vertical {
  
              .#{$type}-#{$scope}-#{$side} {
    
                #{$type}-#{$side}: $value !important;
                
              }
    
            }
            @if $side == horizontal {
    
              .#{$type}-#{$scope}-#{$side} {
    
                #{$type}-left: $value !important;
                #{$type}-right: $value !important;
                
              }
    
            }
            @if $side == vertical {
    
              .#{$type}-#{$scope}-#{$side} {
    
                #{$type}-top: $value !important;
                #{$type}-bottom: $value !important;
                
              }
    
            }
  
          }


        }

        

      }

    }

  }

}