.rj-block_homepage-desk {
    text-align: center;
  }
  
  .rj-block_homepage-desk_link {
    display: block;
    color: #000;
  }
  .rj-block_homepage-desk_link:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .rj-block_homepage-desk_image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .rj-block_homepage-desk_text {
    position: relative;
    background: #fff;
    padding: 10px;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
  }
  @media (min-width: 768px) {
    .rj-block_homepage-desk_text {
      padding: 25px;
    }
  }
  @media (min-width: 1024px) {
    .rj-block_homepage-desk_text {
      padding: 35px;
    }
  }
  @media (min-width: 768px) {
    .rj-block_homepage-desk_text {
      margin-top: -50px;
    }
  }
  @media (min-width: 1024px) {
    .rj-block_homepage-desk_text {
      margin-top: -75px;
    }
  }
  @media (min-width: 768px) {
    .rj-block_homepage-desk_text {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  @media (min-width: 1024px) {
    .rj-block_homepage-desk_text {
      margin-left: 75px;
      margin-right: 75px;
    }
  }
  
  .padding-base {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .padding-base {
      padding: 50px;
    }
  }
  @media (min-width: 1024px) {
    .padding-base {
      padding: 75px;
    }
  }