// Hidden links fot the accessibility purposes

/*

  ACCESSIBILITY NOTES

  As Far as I have learned, assistive technologies:
  - DOES IGNORE everything that has display: none
  - DOES NOT IGNORE elements "hidden" by positioning off the viewport

  THE HIDDEN ELEMENTS MUST BE PUSHED TO THE LEFT,
  NOT TO THE RIGHT

  Somehow, browsers do not put horizontal scrollbars
  to elements that are pushed leftwards. Whenever something is pushed right, the window gets a huge
  horizontal offset.

*/

.rj-accessibility {

  position: absolute;
  left: -5000px;
  top: 0;

  a:focus,
  a:active {

    display: block;

    position: absolute;
    left: 5000px;
    top: 0;

    min-width: 200px;
    padding: 10px;

    background: theme-color("primary");
    color: $body-bg;
    
    z-index: 99999;

  }
}

/*

  PSEUDO HIDDEN ELEMENTS

  They are hidden using absolute position, 
  dimensions, clip and all atributes that
  are not recognized by screen readers.

  If those elements would be hidden using
  display, they would be ignored completely.

*/

.rj-vhide {
  position: absolute;
  
  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;
  
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

}