.rj-archive {

  @include make-container();
  @include rj-gutter(section,(horizontal));

}

.rj-archive_gray {
  background-color: $gray-200;
}

.rj-archive-container {

  @include make-row();
  align-items: stretch;
  justify-content: center;

}

.rj-archive-item {

  @include make-col-ready();
  $col: (
    xs: 12,
    sm: 6,
    md: 4,
  );
  @include rj-column($col);
  @include rj-gutter(half,(bottom));

}

// The link
.rj-archive-item-wrap {
  
  color: $black;

  &:hover,
  &:focus {

    text-decoration: none;
    color: $black;

    .rj-post-list-item-title,
    .rj-archive-detail-readmore {
      text-decoration: underline;
      color: $primary;
    }

  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }

  .rj-archive-detail-readmore {
    font-weight: 500;
  }

}

.rj-blog-carousel {
  @include rj-gutter(section-wide,(horizontal) );
  @include rj-gutter(base,(bottom) );
}

.rj-archive--title {
  text-align: center;
  @include rj-gutter(base,horizontal);
  @include rj-gutter(content,vertical);
}

.rj-archive--hint {
  text-align: center;
  @include rj-gutter(half,bottom);
}

.rj-cats-list {
  text-align: center;
  // background: yellow;
  @include rj-gutter(base,( bottom, horizontal));

  a {
    display: inline-block;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}