// Custom code for Block Lab

.rj-block {

}

.rj-block_homepage-desk {
    text-align: center;
    margin: 1.5rem 0;
    
}

.rj-block_homepage-desk_link {
    display: block;
    color: $black;
    &:hover {
        color: $body-bg;
        text-decoration: none;
    }
}

.rj-block_homepage-desk_image {
    width: 100%;
    height: auto;
    display: block;
}

.rj-block_homepage-desk_text {
    position: relative;
    background: $body-bg;
    @include rj-gutter(half, (all), padding);
    // @include rj-gutter(base, (top), margin, -1);
    margin-top: -3rem;
    @include rj-gutter(base, (horizontal), margin );
    transition: all .2s ease-in-out;
}

.padding-base {
    @include rj-gutter(base, (all), padding);
}