.rj-carousel {
    min-height: 40vh;

    // Bootstrap overrider
    .carousel-indicators {
        > li {
            border-radius: 50%;
        }
    }
}

.rj-carousel-item {
    
    
    @include rj-gutter(base,(horizontal));
    @include rj-gutter(carousel-bottom,(bottom));
    

    background-size: cover;
    background-position: center center;
    background-color: theme-color("dark");

}

.rj-carousel-item_front {
    min-height: 40vh;
    @include rj-gutter(massive,(top));

}

.rj-carousel-item_archive {
    @include rj-gutter(carousel-top,(top));

}

.rj-carousel-item-title a,
.rj-carousel-item-title span,
.rj-carousel-item-excerpt {
    @include rj-gutter(third);
    display: inline-block;
    color: $body-bg;
}

.rj-carousel-item-title {
    margin-bottom: 0;
    a,
    span {
        @include rj-font-style("post-title");
        background-color: theme-color("zcu");
        color: $body-bg;
        transition: background-color .2s ease-in-out;
        
    }
    a {
        &:hover,
        &:focus {
            background-color:theme-color("primary");
            text-decoration: none;
        }
    }
}

.rj-carousel-item-excerpt {
    background-color: theme-color("dark");

}

.rj-carousel-item-text_archive {
    text-align: center;
    .rj-carousel-item-title {
        span,
        a {
            color: $black;
            background-color: $white;
        }
        
    }
    .rj-carousel-readmore {
        
        color: $white;
        letter-spacing: 1px;
        @include rj-gutter(half,(top) );

        strong {
            display: inline-block;
            border-bottom: 2px solid $white;
            padding-bottom: 4px;
            font-weight: 500;
        }
    }
    .rj-post-detail-meta {
        display: inline-block;
        color: $white;
        background: $black;
        padding: 5px 10px;

        a {
            color: $white;
        }

    }
}