.rj-contacts {

  background-color: $gray-300;// theme-color("light");

  @include rj-gutter( base );
  // @include rj-gutter(base, (vertical));

  .nav {
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    color: $black;
    border: 0 !important;
    font-weight: 500;
    font-size: small;

    &.active,
    &:hover,
    &:focus {
      color: theme-color("primary");
      background-color: white;
    }
  }

}

.rj-contacts--list {
  @include make-row();
  align-items: stretch;
  justify-content: center;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  @include rj-gutter( base, (bottom) );
  
}

.rj-contacts--person {
  text-align: center;
  @include make-col-ready();
  $col: (
    xs: 12,
    sm: 6,
    md: 4,
    lg: 3
  );
  @include rj-column($col);
  @include rj-gutter(base, (top));

  display: flex;
  flex-direction: column;

  .rj-contacts--part__stretcher {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

}

.rj-contacts--name {
  margin-top: 10px;
  margin-bottom: 10px;
  @include rj-font-style("person-name");
}

.rj-contacts--image {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-color: theme-color("primary");
  display: inline-block;
  border-radius: 50% 50%;
}

.rj-contacts--link {
  // color: $black;
  @include rj-font-style("person-name");

  a {
    display: block;
    transition: color .2s ease-in-out;

    &:link,
    &:visited {
      color: $black;
    }
    &:hover,
    &focus {
      color: theme-color("primary");
      text-decoration: none;
    }
  }
}

.rj-contacts--mail {

}

.rj-contacts--tel {

}

.rj-contacts--icon {
  width: 25px;
  height: auto;
  // @include rj-gutter(half, (bottom));
  display: inline-block;
  padding-bottom: 10px;
}