.rj-ch {
    @include rj-gutter(base,(horizontal, bottom));


    // Bootstrap overrides

    // Appearance of the nav itself
    .nav {
        &.nav-pills {
            justify-content: center;
        }

        // hide the third and further on the mobile
        @include media-breakpoint-down(md){
            .nav-item {
                display: none;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display:block;
                    // border: red 1px solid;
                }
            }
        }

    }

    // Appearance of navigation links
    .nav-link {
        text-transform: uppercase;
        font-weight: 500;
        transition: all .15s ease-in-out;
        &:not(.active) {
            color: $black;
            &:hover {
                color: theme-color("primary");
            }
        }
    }

}

.rj-ch-title {
    
    @include rj-gutter(base,(top));
    @include rj-gutter(ch,(bottom),margin);

    text-align: center;
    @include rj-font-style("post-title");

}


// The tab
.rj-ch-tab {
    @include make-container();
    @include rj-gutter(ch,(vertical));
    // @include rj-gutter(half,(vertical));
    @include media-breakpoint-down(md){
        margin-left: 30px;
    }
}

.rj-ch-list {
    @include make-row();
    list-style-type: none;
    padding-left: 0;
}


.rj-ch-check {

    @include make-col-ready();
    $col: (
        xs: 12,
        sm: 6
    );
    @include rj-column($col);
    @include rj-gutter(base,(left));
    margin-bottom: 1rem;

    // position: relative;

    &::before {

        position: absolute;
        transform: translate(-2.5rem,-0.75rem);
        // left: -1.5rem;
        // top: -0.75rem;

        content: "\f12a";
        color: theme-color("primary");
        font-size: 2rem;
        font-family: dashicons;
        
    }

}
.rj-ch-check-title {
    display: block;
    font-weight: 500;
}
.rj-ch-check-text {
    margin-bottom: 0px;
    padding-bottom: 0px;
    p {
        margin-bottom: 0px;
    }
}