/** Styling of the footer */

.rj-f {

  @include rj-gutter(half, (vertical), padding);

  background-color: theme-color("footer");
  color: $body-bg;

  a {

    transition: all .2s ease-in-out;

    &:link,
    &:visited {
      color: $body-bg;
    }
    &:hover,
    &:focus {
      color: theme-color("primary");
      text-decoration: none;
    }
  }

}

.rj-f-row {

  @include make-row();
  @include rj-gutter(half, (all), margin);

}

.rj-f-column {
  @include make-col-ready();
  @include rj-gutter(quarter, (vertical));
}

.rj-f-column_info {

  $col: (
    xs: 12,
    md: 4,
    // lg: 3
  );
  @include rj-column($col);

  > p {

    color: #969696;

  }

}

.rj-f-column_widget {

  $col: (
    xs: 12,
    sd: 6,
    md: 3,
    // lg: 3
  );
  @include rj-column($col);

}

.rj-f-column_colophon,
.rj-f-column_social {

  $col: (
    xs: 12
  );
  @include rj-column($col);

  padding-top: 0px;

}

.rj-f-column_social {

  display: flex;

  justify-content: space-between;
  align-items: flex-end;

}

// the bottom of the page

.rj-colophon {

  border-top: 1px solid theme-color("dark");
  
  @include rj-gutter(quarter, (top));

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  

}

.rj-colophon-item {

}

.rj-colophon-item_left {

  // color: red;

}

.rj-colophon-item_right {

  color: theme-color("dark");
  text-align: right;

}

.rj-dotted-item,
.rj-dotted-item_dot {

  display: inline-block;

  @include media-breakpoint-down(sm){
    display: block;
  }

  margin-bottom: 5px;
  

}
.rj-dotted-item_dot {
  margin-left: 3px;
  margin-right: 3px;
  @include media-breakpoint-down(sm){
    display: none;
  }
}
