// Gutenberg content
.rj-post-content_gutenberg {

  // Alignfull

  > *:not( .alignwide ):not( .alignfull ),
  .wp-block-cover__inner-container > *:not( .alignfull ):not( .alignwide ) {
    margin-left: auto;
    margin-right: auto;
    $mw: (
      xs: 100%,
      md: 500px,
      lg: 900px,
      xl: 1000px
    );
    @include rj-list-into-property($mw, max-width);
    padding-left: 20px;
    padding-right: 20px;
  }

  // Alignwide

  > *.alignwide,
  .wp-block-cover__inner-container > .alignwide {
    margin-left: auto;
    margin-right: auto;
    $mw: (
      xs: 100%,
      lg: 1100px,
      xl: 1200px
    );
    @include rj-list-into-property($mw, max-width);
  }
  .alignwide {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wp-block-image {
    &.alignfull {
      figcaption {
        @include rj-gutter(half,(horizontal));
        color: theme-color("dark");
        text-align: center;
      }
    }
  }

  // Coloring

  $gutenberg-colors: (
    "primary": #7B3DBA,
    "studuj-jako-profik": #3797B3,
    "nech-si-poradit": #C73C81,
    "poznej-zcu": #0E53A7,
    "objevuj-plzen": #C28C00,
    "bud-aktivni": #93A112,
    "bez-barier": #EC6317,
    "faq": #7B3DBA,
    "blog": #E3052E,
    "kontakt":#0D9867,
    "white": #fff,
    "gray-light": #F0F0F0,
    "gray-dark": #505050,
    "footer": #181818,
    "black": #000
  );
  @each $scope, $color in $gutenberg-colors {
    .has-#{$scope}-color {
      color: $color;
    }
    .has-#{$scope}-background-color {
      background-color: $color;
      &.wp-block-button__link {
        transition: all .2s ease-in-out;
        &:focus,
        &:hover {
          background-color: theme-color("dark");
        }
        
      }
    }
    .has-#{$scope}-border-color {
      border-color: $color;
    }
    .is-style-outline {
      .has-#{$scope}-color {
        border-color: $color;
      }
    }
    .wp-block-button {
      &.is-style-outline {
        &:hover,
        &:focus {
          background-color: $body-bg !important;
          border-color: theme-color("dark") !important;
          border-bottom-color: theme-color("dark") !important;
          color: theme-color("dark") !important;
        }
      }
    }
  }

  // Buttons override
  .wp-block-button {
    &.is-style-outline {
      &:hover,
      &:focus {
        .wp-block-button__link {
          background-color: $body-bg !important;
          border-color: theme-color("dark") !important;
          border-bottom-color: theme-color("dark") !important;
          color: theme-color("dark") !important;
        }
      }
    }
  }

  // Direct headings padding
  &:not(:first-child) {
    > h1, 
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      @include rj-gutter(half, (top));
      @include rj-gutter(quarter, (bottom));
    }
  }

  // heading sizes
  h1 {
    @include rj-font-style("post-title");
  }
  h2 {
    @include rj-font-style("post-title");
  }
  h3 {
    @include rj-font-style("h3");
  }
  h4 {
    @include rj-font-style("h4");
  }
  h5 {
    @include rj-font-style("h5");
  }
  h6 {
    font-size: 1rem;
  }

  ul, ol {
    list-style-position: outside;
    li {
      margin-left: 1rem;
    }
  }
  

}

.rj-post-content {

  // @import "../vendor/bootstrap/utilities";

  box-sizing: border-box;



}


// Accordion widget
.c-accordion__item {
  margin-top: 15px;
}

.c-accordion__item.is-open {}

.c-accordion__item.is-read {}

.c-accordion__title {
  font-size: 1rem !important;
  line-height: 1.2rem !important;
  border: 2px solid theme-color("primary");
  padding: 1rem 2rem 1rem 1rem;
  color: theme-color("primary");
  border-radius: 1.5rem;
  transition: all .2s ease-in-out;
  &:after {
    // display: none;
    content: ">";
    color: theme-color("primary");
    font-size: 2rem;
    margin-right: 1rem;
  }
} 

.c-accordion__title--button {}

.c-accordion__title:hover,
.c-accordion__title:focus {
  background-color: theme-color("primary");
  color: $body-bg;
  &:after {
    content: ">";
    color: $body-bg;
  }
}

.c-accordion__content {
  padding-left: 2rem;
  padding-right: 2rem;
}


$gutenberg-colors: (
    "primary": #7B3DBA,
    "studuj-jako-profik": #3797B3,
    "nech-si-poradit": #C73C81,
    "poznej-zcu": #0E53A7,
    "objevuj-plzen": #C28C00,
    "bud-aktivni": #93A112,
    "bez-barier": #EC6317,
    "faq": #7B3DBA,
    "blog": #0D9867,
    "kontakt":#E3052E,
    "white": #fff,
    "gray-light": #F0F0F0,
    "gray-dark": #505050,
    "footer": #181818,
    "black": #000
);

@each $scope, $color in $gutenberg-colors {


  .c-accordion__item {

    // Colors for accordions
    &.#{$scope} {

      .c-accordion__title:hover,
      .c-accordion__title:focus {
        background-color: $color;
        &:after {
          content: ">";
          color: $body-bg;
        }
      }

      .c-accordion__title { 

        color: $color;
        border-color: $color;

        &:after {
          color: $color;
        }

      }
    
    }
  }



}




// Common blocks overrides

// Block columns now have entire padding both vertical and horizontal 
.wp-block-columns {
  padding-top: 28px;
}

// Latest posts widget
.wp-block-latest-posts {
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
  }
  a {
    color: $black;
    font-weight: 500;
    &:hover,
    &:focus {
      color: theme-color("primary");
      text-decoration: none;
    }
  }
  $cols:(
    1: (
      xs: 1
    ),
    2: (
      xs: 1,
      md: 2,
    ),
    3: (
      xs: 1,
      md: 2,
      lg: 3
    ),
    4: (
      xs: 1,
      md: 2,
      lg: 4
    ),
    5: (
      xs: 1,
      md: 2,
      lg: 4
    )
  );
  @each $scope, $attrs in $cols {
    @each $bp, $div in $attrs {
      @media ( min-width: map-get($grid-breakpoints,$bp) ){
        &.columns-#{$scope} {
          li {
            width: #{ 100% * (1/$div) }!important;
          }
        }
      }
    }
  }

  li {
    margin: 0 !important;
    @include media-breakpoint-up(md){
      // margin: 7px;
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

// Fixes


.rj-pseudotodo {
  list-style-type: none;
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 2rem;
    font-weight: bold;
    &:before {

      position: absolute;
      top: 0px;
      left: -15px;
      display: block;

      width: 1.5rem;
      height: 1.5rem;
      background-image: url( "/wp-content/themes/rokjedna/assets/images/pseudotodo.jpg");
      background-size: contain;
      content: "";

    }

    a {
      color: $black;

      &:hover,
      &:focus {
        color: theme-color("primary");
      }
    }

  }
  
}