// Styling of the header

// The main container

.rj-h {
  background-color: theme-color(light);

  @include make-row();
  margin: 0;

}

// Direct descendants of the header wrapper

.rj-h-part {
  @include make-col-ready();
}

// Positions 

.rj-h-part_top {
  $col: (
    xs: 6,
  );
  @include rj-column($col);
}

.rj-h-part_bottom {

  position: static;

  $col: (
    xs: 12,
  );
  @include rj-column($col);

}

// Roles

.rj-h-part_branding,
.rj-h-part_global {
  @include rj-gutter(header);
}

.rj-h-part_branding {

  color: $black;

  &:hover {
    text-decoration: none;
  }

}

.rj-h-part_global {
  text-align: right;
}

.rj-h-part_menu {
  @include rj-gutter(base, (horizontal));
  @include rj-gutter(header, (bottom));
}





// Particular elements of the header

// The site logo

.rj-h-logo {
  $h: (
    xs: 40px,
    lg: 50px,
  );
  @include rj-list-into-property($h, height);
}

// A bit asystematic sitename

.rj-h-logo_blog {
  display: inline-block;
  margin-left: 15px;

  color: $black;
  font-weight: 500;

}

// The site name

.rj-site-name {
  display: block;
  text-align: center;
  @include rj-gutter(two-thirds, (bottom));
  
  a {
    display: inline;
    color: theme-color("black");
    &:hover {
      color: theme-color("dark");
      text-decoration: none;
    }
  }

}

.rj-site-name-content {
  display: inline;
  @include rj-font-style(site-header, true);
}

// Styling which are specific for the blog functionality

.rj_is-blog {

  .rj-h {
    background-color: $white;
  }

  .rj-h-part_branding {
    opacity: .5;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

}


