.rj-menu {}

.rj-menu_global {
  text-align: right;
  display: inline-block;

  > li {
    display: inline-block;

    a {
      font-weight: 500;
      color: $black;
      transition: all .2s ease-in-out;
      &:hover,
      &:focus {
        text-decoration: none;
        color: theme-color("primary");
      }
    }
  }
}

.rj-menu_inline {

  list-style-type: none;

  margin: 0;
  padding: 0;
  display: inline-block;

  .rj-menu-item,
  > li {
    display: inline-block;
  }

}

.rj-menu_social {
  > li {
    padding-right: 10px;
  }
}

// Menu item
.rj-menu-item {}

.rj-menu-item_desktop-only {

  @include media-breakpoint-down( $menu-breakpoint ){
    display: none !important;
  }

}

.rj-menu-item_mobile-only {

  @include media-breakpoint-up( $menu-breakpoint ){
    display: none !important;
  }

}

// Footer menu

.rj-menu_footer {

  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;

  a {
    text-transform: uppercase;
    font-weight: 500;
  }

  li {

    @include rj-gutter(quarter, (bottom), margin );

  }

}

.rj-menu_header {

  a {

    font-weight: 300;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

  }

  .rj-menu-item_closed {

    > ul.sub-menu {
      display: none;
    }

  }

}

// The main menu

.rj-h-part_main-menu {

  a {

    font-weight: 500;
    text-decoration: none;

    transition: background-color .15s ease-in-out, color .15s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $body-bg;
      background-color: theme-color("primary");
    }

  }

  // Mobile only
  @media ( max-width: map-get($grid-breakpoints, $menu-breakpoint ) ) {

    position: absolute;

    top: 0px;
    left: -5000px;

    z-index: 99999;
    opacity: .01;

    transition: opacity .5 ease-in-out;

    &:focus,
    &:focus-within,
    &.rj-h-part_main-menu_expanded {
      outline: none;

      display: block;
      position: fixed;

      top: 0px;
      height: 100%;
      

      $w: (
        xs: 100%,
        sm: 70%,
        md: 50%,
        lg: 30%
      );
      @each $bp, $width in $w {
        @media ( min-width: map-get($grid-breakpoints, $bp ) ) {
          width: $width;
          @if $width==100% {
            left: 0px;
          } 
          @else {
            left: 100% - $width;
          }
        }
      }
      opacity: 1;
      
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 100px;
      @include rj-gutter(base, (bottom), padding );
      // background-color: theme-color("dark");
      background-color: $body-bg;
      color: $black;

      a {

        @include rj-gutter(half, (all), padding );
        
        display: block;
        width: 100%;

        text-decoration: none;
        text-align: center;
        text-transform: uppercase;

        &:link,
        &:visited {
          color: $black;//$body-bg;
        }

        &:hover,
    &:focus {
      text-decoration: none;
      color: theme-color("primary");
      background-color: $body-bg;
    }

      }

      ul {

        list-style-type: none;

        margin: 0px;
        padding: 0px;

      }

      .rj-menu_main-close {

        position: absolute;
        top: 0px;
        right: 1rem;

        width: auto;

        .dashicons {
          font-size: 2rem;
        }

      }
      
      

    }

  }

  // Desktop only
  @media ( min-width: map-get($grid-breakpoints, $menu-breakpoint) ) {

    @include rj-gutter(quarter, (bottom));

    ul.rj-menu_main {

      margin: 0;
      padding: 0;

      list-style-type: none;

      text-align: center;
      text-transform: uppercase;
      
      > li {
        display: inline-block;
      }

      a {
        padding: 5px 7px;
        display: inline-block;
        color: $black;

        &:hover,
        &:focus,
        &:active {
          color: $body-bg;
        }
      }
    }

    .rj-menu_main-close {
      display: none !important;
    }

    

  }

}




// The menu that is managed through Accessible menu walker

$w: (
    xs: 100%,
    sm: 300px,
  );

.rj-responsive-menu {
  
  position: fixed;
  top: 0px;
  // right: 0px;
  z-index: 99999;

  
  @include rj-list-into-property( $w, width );
  

  height: 100%;

  background-color: theme-color("light");

  transition: all .3s ease-in-out;
}

.rj-responsive-menu_collapsed {

  @include rj-list-into-property( $w, right, -1 );

}

.rj-responsive-menu_expanded {

  right: 0px;

}

.rj-responsive-menu-trigger {
  // font-size: 2rem;
  display: inline-block;
  padding-right: 1rem;
  padding-left: .5rem;
  transform: translateY(-.3rem);
  .dashicons {
    font-size: 2rem;
    display: inline-block;
    padding-right: 1rem;
  }

  @media (min-width: map-get($grid-breakpoints, lg)){
    display: none !important;
  }
}


// The page menu

.rj-menu_page {

  border-bottom: 2px solid theme-color("gray");

  .menu-item {

    @include rj-gutter(quarter,(horizontal));
    @include rj-gutter(half,(vertical));

    text-align: center;
    font-weight: 500;
    text-transform: uppercase;

  }

  &:not(.rj-slick_activated){

    list-style-type: none;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 0;
    margin: 0;

    li {
      $w: (
        xs: 50%,
        sm: 100%/3,
        md: 230px
      );
      @each $bp, $width in $w {
        @media ( min-width: map-get($grid-breakpoints, $bp) ) {
          width: $width;
          min-width: $width;
        }
      }
    }

  }

  &:not(.rj-slick_activated) {
    .menu-item {
      &.current-menu-item,
      &.current-menu-ancestor {
        border-bottom: 2px theme-color("primary") solid;
        margin-bottom: -2px;
      }
    }
  }

  &.rj-slick_activated {

    // background: yellow;
    // background-clip: content-box;

    $p: (
      xs: 35px,
      sm: 45px,
      md: 60px,
      lg: 75px
    );
    @each $bp, $padding in $p {

      @media ( min-width: map-get($grid-breakpoints, $bp) ) {

        padding-left: $padding;
        padding-right: $padding;
        
      }

    }

    

    .slick-list {
      padding: 0 !important;
    }

    .slick-slide {
      text-align: center;
    }

    .rj-slider-arrow {

      position: absolute;
      top: 50%;

      outline: 0;
      border: 0;

      &:hover,
      &:focus {
        color: $black;
      }

      text-align: center;
      font-family: dashicons;

      transition: color .2s ease-in-out;
      background-color: $body-bg;

      // Prepare the after content wrapper
      &::after {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      // output the dimension
      $dim: (
        xs: 25px,
        sm: 30px,
        md: 40px,
        lg: 45px
      );

      $pos: (
        xs: 10px,
        sm: 15px,
        md: 20px,
        lg: 30px
      );

      @each $bp,$dimension in $dim {
        @media ( min-width: map-get($grid-breakpoints, $bp) ) {

          width: $dimension;
          height: $dimension;
          margin-top: -$dimension/2;
          line-height: $dimension;
          font-size: $dimension;

          &.rj-slider-arrow_left {
            left: map-get($pos,$bp);
            &::after {
              content: "\f341";
            }
          }
          &.rj-slider-arrow_right {
            right: map-get($pos,$bp);
            &::after {
              content: "\f345";
            }
          }

        }
      }

      
      
    }
  }
}