.rj-post-list {
  @include make-container();
}

.rj-post-list-row {
  @include make-row();
  align-items: stretch;
  justify-content: center;
}

.rj-post-list-item {
  @include make-col-ready();
  $col: (
    xs: 12,
    sm: 6,
    md: 4,
    lg: 3
  );
  @include rj-column($col);
}

.rj-post-list-item {

  // margin: 0;
  // padding: 0;

  // @include rj-gutter(half,(all));
  // @include rj-gutter(half,(all));

}

.rj-post-list-item-wrap {
  background-color: $body-bg;
  @include rj-gutter(half,(all));
  // @include rj-list-into-property(map-get($spacers,3),margin-bottom);
  margin-bottom: 2rem;
  
}

.rj-post-list-item-title {

  @include rj-font-style("subtitle");

  a { 
    transition: color .1s ease-in-out;
    color: $black;
  }

}

.rj-post-list-item-label {
  color: $gray-500;
}