.rj-post-header {

  background-position: center center;
  background-size: cover;

  @include rj-gutter(page-header, (vertical));
  @include rj-gutter(half, (horizontal));

  text-align: center;
  text-transform: uppercase;

  &.rj-post-header_colored {
    color: $body-bg;
    background-color: theme-color("primary");
  }

  a {

    &:link,
    &:visited {
      color: $body-bg;
    }

  }

}

.rj-post-title {

  @include rj-font-style( post-title );
  margin-bottom: 0px;

}

.rj-post-breadcrumb {
  margin-top: 10px;
  span {
    display: inline-block;
    margin: 0 7px;
  }
}

.rj-post-content {

  &.rj-post-content_search {

    background-color: $gray-200;

  }

  &.rj-post-content_c {

    text-align: center;

  }

  &.rj-post-content_ph {

    @include rj-gutter( content, (horizontal));

  }

  &.rj-post-content_pv {

    @include rj-gutter( base, (vertical));

  }

  &.rj-post-content_stretched {

    
    @include rj-list-into-property( $post-widths, max-width );

    margin: 0 auto;

  }

}

.rj-page-links {
  @include rj-gutter(base,(top));
  > * {
    display: inline-block;
    padding: 10px 15px;
    background-color: #F0F0F0;
  }
  > a {
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $body-bg;
      background-color: theme-color("primary");
    }
  }
  > span {
    color: $body-bg;
    background-color: theme-color("primary");
  }
}

// The post detail
.rj-post-detail {}

.rj-post-detail-meta {}

.rj-post-detail-header {

  // @include rj-gutter(base, (vertical));
  @include rj-gutter(half, (horizontal));

  text-align: center;

}

.rj-post-detail-title {
  @include rj-font-style("post-title-detail");
}

.rj-post-detail-meta {

  @include rj-gutter(post-title,bottom,margin);

  color: $gray-600;

  a {
    font-weight: 500;
    color: $gray-600;
    transition: color .2s ease-in-out;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  .rj-dot {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
  }

}

.posts-navigation {

  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;

  @include rj-gutter(base,vertical);

  background-color: theme-color( "light" );

  .nav-links {
    div {
      display: inline-block;
      a {
        display: inline-block;
        padding: .5rem;
      }
    }
  }



}
