// Styling of the search form

// This element is not rj-formatted

.rj-post-header_search {

  .search-form {

  }
  
  .search-field {
  
    border: 0;
    outline: 0;
  
    background-color: transparent;
    color: $body-bg;
  
    border-bottom: 1px solid $body-bg;

    @include rj-font-style("post-title");

    font-weight: 500;
    // text-align: center;
  
  }
  
  .search-submit {

    background-color: $body-bg;
    color: theme-color("primary");
    border: 0;
    padding: .75rem 1rem;
    border-radius: 2rem;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten( theme-color("primary"), 30%);
    }
  
  }
  
  .screen-reader-text {
    @extend .rj-vhide;
  }
  
}