$poppins-path: "../fonts/Poppins/" !default;

@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-bold-poppins.eot');
  src: url('#{$poppins-path}poppins-bold-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-bold-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-bold-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-bold-poppins.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-bolditalic-poppins.eot');
  src: url('#{$poppins-path}poppins-bolditalic-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-bolditalic-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-bolditalic-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-bolditalic-poppins.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-italic-poppins.eot');
  src: url('#{$poppins-path}poppins-italic-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-italic-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-italic-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-italic-poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-regular-poppins.eot');
  src: url('#{$poppins-path}poppins-regular-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-regular-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-regular-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-regular-poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-semibold-poppins.eot');
  src: url('#{$poppins-path}poppins-semibold-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-semibold-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-semibold-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-semibold-poppins.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-semibolditalic-poppins.eot');
  src: url('#{$poppins-path}poppins-semibolditalic-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-semibolditalic-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-semibolditalic-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-semibolditalic-poppins.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-light-poppins.eot');
  src: url('#{$poppins-path}poppins-light-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-light-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-light-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-light-poppins.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'poppins';
  src: url('#{$poppins-path}poppins-lightitalic-poppins.eot');
  src: url('#{$poppins-path}poppins-lightitalic-poppins.eot?#iefix') format('embedded-opentype'),
       url('#{$poppins-path}poppins-lightitalic-poppins.woff2') format('woff2'),
       url('#{$poppins-path}poppins-lightitalic-poppins.woff') format('woff'),
       url('#{$poppins-path}poppins-lightitalic-poppins.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;

}