.rj-d {
    img {
        display: block;
        max-width: 100%;
        height:auto;
    }
    margin-bottom: 30px;
}

.rj-d-header {

    position: relative;

    margin-top: - 4rem;
    @include rj-gutter(half,(horizontal),margin);
    @include rj-gutter(half,(all),padding);

    transition: all .3s ease-in-out;
    background-color: $body-bg;

}

.rj-d-link {
    color: $black;
    &:focus,
    &:hover {
        color: $body-bg;
        text-decoration: none;
    }
}