$font-styles: (
  site-header: (
    weight: bold,
    sizes: (
      xs: 1.5rem,
      sm: 1.75rem,
      md: 2rem,
      lg: 2.5rem,
      xl: 3rem
    ),
    line-aspect: 1.2,
    additional: (
      color: theme-color(black),
    )
  ),
  post-title: (
    weight: bold,
    sizes: (
      xs: 1.5rem,
      sm: 1.75rem,
      md: 2rem,
      lg: 2.5rem,
      xl: 3rem
    ),
    line-aspect: 1.2,
  ),
  post-title-detail: (
    weight: 500,
    sizes: (
      xs: 1.5rem,
      sm: 1.75rem,
      md: 2rem,
      lg: 2.5rem,
      xl: 3rem
    ),
    line-aspect: 1.2,
  ),
  h3: (
    weight: bold,
    sizes: (
      xs: 1.3rem,
      sm: 1.4rem,
      md: 1.5rem,
      lg: 1.75rem,
      xl: 2rem
    ),
    line-aspect: 1.2,
  ),
  h4: (
    weight: bold,
    sizes: (
      xs: 1.1rem,
      sm: 1.2rem,
      md: 1.3rem,
      lg: 1.5rem,
      xl: 1.8rem
    ),
    line-aspect: 1.2,
  ),
  h5: (
    weight: bold,
    sizes: (
      xs: 1.1rem,
      sm: 1.2rem,
      md: 1.3rem,
      lg: 1.5rem,
      xl: 1.75rem
    ),
    line-aspect: 1.2,
  ),

  person-name: (
    weight: 500,
    sizes: (
      xs: 1rem,
      sm: 1rem,
      md: 1rem,
      lg: 1rem,
      xl: 1rem
    ),
    line-aspect: 1.2,
  ),

  subtitle: (
    weight: 500,
    sizes: (
      xs: 1.2rem,
      sm: 1.2rem,
      md: 1.5rem,
      // lg: 2.5rem,
      // xl: 3rem
    ),
    line-aspect: 1.2,
    additional: (
      color: theme-color(black),
    )
  ),
);

@mixin rj-font-style( $scope, $additional: false ) {

  $attrs: map-get( $font-styles, $scope );

  font-weight: map-get($attrs, weight);

  @each $bp, $size in map-get($attrs,sizes) {

    // @include media-breakpoint-up($bp){
    @media (min-width: map-get($grid-breakpoints, $bp) ) {
      font-size: $size;
      line-height: $size * map-get($attrs,line-aspect);
    }

  }

  @if $additional == true {

    @each $attr, $val in map-get( $attrs, additional ) {
      #{ $attr }: $val;
    }

  }

}