

@mixin rj-gutter( $scope: base, $sides: (all), $type: padding){
  @each $bp, $size in map-get( $gutters, $scope ) {

    @each $side in $sides {

      @include media-breakpoint-up( $bp ){
       
        // The entire size
        @if $side == all {
          #{ $type }: $size;
        }

        // One side
        @if $side == left or $side == right or $side == top or $side == bottom {
          #{ $type }-#{ $side }: $size;
        }

        // One axis
        @if $side == horizontal {
          #{ $type }-left: $size;
          #{ $type }-right: $size;
        }
        @if $side == vertical {
          #{ $type }-top: $size;
          #{ $type }-bottom: $size;
        }

      }

    }

  }
}


