@mixin rj-column( $list ){

  @each $bp, $cols in $list {

    @include media-breakpoint-up( $bp ){

      @include make-col( $cols );

    }

  }

}

@mixin rj-list-into-property($list,$property,$aspect: 1){
  @each $bp, $val in $list {
    @include media-breakpoint-up($bp){
      #{$property}: $val * $aspect;
    }
  }
}

@function in_list($value, $list) {
  @return (false != index($list, $value));
}