html {

  font-size: 14px; //1rem;

}

@include media-breakpoint-up(sm){

  html {
    font-size: 15px; //1.2rem 
  }

}

@include media-breakpoint-up(md){

  html { 
    font-size: 16px; // 1.4rem;
  }

}

@include media-breakpoint-up(lg){

  html { 
    font-size: 17px; // 1.6rem 
  }

}