// This files declares global variables and Bootstrap Overrides

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);

$post-widths: (
  md: 900px,
  lg: 1200px
);

$menu-breakpoint: lg;

// 2. the palette setup

$colors: (rokjedna: #7B3DBA);
$theme-colors: (
  "black": #000,
  "footer": #181818,
  "gray": #adb5bd,
  "zcu": #0E53A7
);
$dark: #505050;

$primary: map-get($colors, rokjedna);

// 3. the type optimalisations


$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-family-sans-serif: "poppins", Helvetica Neue, Arial, sans-serif;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300;
$font-weight-normal:          normal;
$font-weight-bold:            700;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$gutters: (
  massive: (
    xs: 30vh,
    md: 40vh,
    lg: 50vh,
  ),
  base: (
    xs: 20px,
    md: 50px,
    lg: 75px,
  ),
  page-header: (
    xs: 50px,
    md: 60px,
    lg: 85px,
  ),
  carousel-bottom: (
    xs: 50px,
    // md: 50px,
    lg: 75px,
  ),
  carousel-top: (
    xs: 30vh,
    md: 40vh,
    // lg: 50vh,
  ),
  half: (
    xs: 10px,
    md: 25px,
    lg: 35px,
  ),
  quarter: (
    xs: 5px,
    md: 12.5px,
    lg: 17px,
  ),
  two-thirds: (
    xs: 20px*2/3,
    md: 50px*2/3,
    lg: 75px*2/3,
  ),
  third: (
    xs: 6.6px,
    md: 18px,
    lg: 22px,
  ),
  header: (
    xs: 15px,
    md: 20px,
  ),
  content: (
    xs: 25px,
    md: 35px,
    lg: 50px
  ),
  ch: (
    xs: 25px,
    // md: 25px,
    lg: 35px,
  ),
  section: (
    xs: 25px,
    md: 50px,
    lg: calc(50vw - 450px)
  ),
  section-wide: (
    xs: 25px,
    md: 50px,
    lg: calc(50vw - 550px)
  ),
  post-title: (
    xs: 20px,
    md: 20px,
    lg: 22px
  )
);