/*!
 * Editor
 */
// $poppins-path: "/wp-content/themes/rokjedna-theme/assets/fonts/fonts/Poppins/";
@import 'global/fontfaces/poppins';


@import "variables";
@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

@import "global/mixins.scss";
@import "global/font-styles.scss";

// .edit-post-visual-editor {

    @import "vendor/bootstrap/root";
    @import "vendor/bootstrap/reboot";
    @import "vendor/bootstrap/type";
    
body.gutenberg-editor-page .edit-post-visual-editor {
    
    @import "vendor/bootstrap/root";
    @import "vendor/bootstrap/reboot";
    @import "vendor/bootstrap/type";

    
    color: red;
}

@import "global/gutters.scss";

@import "components/rj-gutenberg.scss";
@import "components/rj-post.scss";

@import "gutenberg/colors.scss";

@import "gutenberg/gutters.scss";








    
// }
 
 .edit-post-visual-editor .editor-block-list__block {
     // color: $color-tundora;
     margin: 0 auto;
     // max-width: $content-max-width;
 }
 
 .edit-post-visual-editor p,
 .edit-post-visual-editor,
 .blocks-rich-text__tinymce.mce-content-body {
     line-height: inherit;
     font-size: inherit;
 }
 
 .edit-post-visual-editor .editor-block-list__block-edit,
 .edit-post-visual-editor {
     font-family: "PT Serif", Georgia, serif;
     font-size: 1em;
     // line-height: $line-height;
 }
 
 .edit-post-visual-editor .editor-block-list__block {
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         &.mce-content-body {
             font-weight: 400;
         }
 
     }
 
     h1.mce-content-body {
         font-size: 1.802em;
         line-height: line-height(1.802, 1.5);
     }
 
     h2.mce-content-body {
         font-size: 1.602em;
         line-height: line-height(1.602, 1.5);
     }
 
     h3.mce-content-body {
         font-size: 1.424em;
         line-height: line-height(1.424, 1.25);
     }
 
     h4.mce-content-body {
         font-size: 1.266em;
         line-height: line-height(1.266, 1.25);
     }
 
     h5.mce-content-body {
         font-size: 1.125em;
         line-height: line-height(1.125, 1);
     }
 
     h6.mce-content-body {
         font-size: 1em;
         line-height: line-height(1, 1);
     }
 
     figure {
         line-height: 0;
         // margin: add-unit($space-half, 'em') 0 0;
 
         figcaption,
         img {
            // line-height: $line-height;
         }
     }
 
     figcaption {
         clear: both;
         color: inherit;
         // font-size: $font-size-small;
         // padding-top: add-unit($space-quarter, 'em');
         text-align: left;
     }
 
     blockquote.wp-block-quote {
         border-left: 2px solid;
         // padding-left: add-unit($space-half, 'em');
     }
 
     blockquote.wp-block-quote cite {
         display: block;
         font-style: italic;
         // margin: add-unit($space-quarter, 'em') 0 0;
     }
 
     table {
         border-spacing: 0;
     }
 
     td,
     th {
         border: none;
         border-bottom: 1px solid;
         // padding: add-unit($space-quarter, 'em');
     }
 
     th {
         border-bottom: 2px solid;
         text-align: left;
     }
 
     table tr:last-of-type td {
         border-bottom: none;
     }
 
     dt {
         // margin: add-unit($space-quarter, 'em') 0 0;
     }
 
     dd {
         // margin: 0 0 0 add-unit($space, 'em');
     }
 
     ul,
     ol {
         padding-left: 1rem;
         margin-left: 0;
     }
 
     ul > li {
         list-style-type: none;
         position: relative;
     }
 
     ul > li::before {
         content: "·";
         // left: -#{add-unit($space-half, 'em')};
         top: 0;
         position: absolute;
     }
 
     li + li {
         // margin: add-unit($space-quarter, 'em') 0 0;
     }
 
     ul ol,
     ol ul,
     ul ul,
     ol ol {
         // margin: add-unit($space-quarter, 'em') 0 0;
     }
 }
 
 .edit-post-visual-editor .mce-content-body {
     a {
         box-shadow: inset 0 -1px 0 currentColor;
         box-shadow: inset 0 -1px 0 currentColor, 4px 0 0 transparent, -4px 0 0 transparent;
         box-decoration-break: clone;
         color: inherit;
         padding-bottom: .05em;
         padding-top: .05em;
         text-decoration: none;
         -webkit-text-decoration-skip: objects;
         transition: box-shadow .2s ease 0s, background .2s ease 0s;
     }
 
     a:active,
     a:hover {
         box-shadow: inset 0 -1px 0 transparent;
         outline-width: 0;
     }
 
     a:focus {
         // background: $color-tundora;
         // box-shadow: inset 0 -1px 0 $color-tundora, 4px 0 0 $color-tundora, -4px 0 0 $color-tundora;
         // color: $color-white;
         outline-width: 0;
     }
 }