.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  height: auto;
}


.rj-d {
	margin-bottom: 30px;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  justify-content: center;
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.wp-block-latest-posts.wp-block-latest-posts__list li .wp-block-latest-posts__featured-image img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.wp-block-latest-posts.wp-block-latest-posts__list li time {
	margin-top: 7px;
	margin-bottom: 10px;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a {
  transition: color .2s ease-in-out;
}

@media ( min-width: 600px ) {
  .rj-apps--column__left figure {
    float:right;
    display: block !important;
  }
  
  .rj-apps--column__right figure {
    float:left;
  }
}

@media ( max-width: 599px ) {
  .rj-apps--column__left figure,
  .rj-apps--column__right figure{
    float:none;
    display: block;
    width: 100%;
    text-align: center;
  }
}