//
// 1. Load fonts
//
@import 'global/fontfaces/fontfaces';




//
// 2. Global Variables & Bootstrap overrides
//
@import "variables";




//
// 3. Vendor
//

//
// 3.1. Bootstrap
//

/*!
 * Bootstrap v4.5.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/root";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
// @import "vendor/bootstrap/images";
// @import "vendor/bootstrap/code";
// @import "vendor/bootstrap/grid";
// @import "vendor/bootstrap/tables";
// @import "vendor/bootstrap/forms";
@import "vendor/bootstrap/buttons";
// @import "vendor/bootstrap/transitions";
// @import "vendor/bootstrap/dropdown";
// @import "vendor/bootstrap/button-group";
// @import "vendor/bootstrap/input-group";
// @import "vendor/bootstrap/custom-forms";
// .rj-section_ch {
    $nav-pills-border-radius: 0;
    $nav-link-padding-y: 5px;
    $nav-link-padding-x: 7px;
    @import "vendor/bootstrap/nav";
// }

.rj-contacts {
    @import "vendor/bootstrap/nav";
}

// @import "vendor/bootstrap/navbar";
// @import "vendor/bootstrap/card";
// @import "vendor/bootstrap/breadcrumb";
// @import "vendor/bootstrap/pagination";
// @import "vendor/bootstrap/badge";
// @import "vendor/bootstrap/jumbotron";
// @import "vendor/bootstrap/alert";
// @import "vendor/bootstrap/progress";
// @import "vendor/bootstrap/media";
// @import "vendor/bootstrap/list-group";
// @import "vendor/bootstrap/close";
// @import "vendor/bootstrap/toasts";
// @import "vendor/bootstrap/modal";
// @import "vendor/bootstrap/tooltip";
// @import "vendor/bootstrap/popover";
// @import "vendor/bootstrap/carousel";
// @import "vendor/bootstrap/spinners";
// @import "vendor/bootstrap/utilities";
// @import "vendor/bootstrap/print";

.rj-section_carousel {
    $carousel-indicator-width: 1rem;
    $carousel-indicator-height: 1rem;
    @import "vendor/bootstrap/carousel";
}



//
// 3.2. Slick Carousel
//
@import "vendor/slick-carousel/slick";





//
// 4. The theme itself
//


/*!
 * Rokjedna Template v0.1 (https://rokjedna.zcu.cz/)
 * Copyright 2020 IPC WBU in Pilsen
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */


//
// 4.1. Global stuff
//
@import 'global/mixins';
@import 'global/gutters';
@import 'global/responsive-typography';
@import 'global/font-styles';

//
// 4.2. Components
//
@import 'components/rj-header';
@import 'components/rj-footer';
@import 'components/rj-menu';
@import 'components/rj-accessibility';
@import 'components/rj-search';
@import 'components/rj-post';
@import 'components/rj-post-list';
@import 'components/rj-gutenberg';
@import 'components/rj-blocks';
@import 'components/rj-carousel';
@import 'components/rj-ch';
@import 'components/rj-archive';
@import 'components/rj-contacts';

//
// 4.3. Gutenberg blocks
//
@import 'blocks/rj-d';

@import "gutenberg/gutters.scss";
@import "gutenberg/overrides.scss";


//
// 5. Fixes transposed from the frontend
//
@import "fixes.scss";



